* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.toast {
  font-weight: bold !important;
  font-size: 15px !important;
}

.v-text-field__slot > textarea {
  //margin-bottom: 10px !important;
}

.v-btn:not(.v-btn--round).v-size--default {
  padding: 0 8px !important;
}

.avatar:hover {
  cursor: pointer;
  border: 1px #1976d2 dashed;
}
